@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');

body {
    font-family: 'Prata', serif;
    background: #010066;
}
a {
    display: block;
}
a:hover {
    text-decoration: none;
}

header {}

.logo_text {
    margin-top: 19px;
    width: 257px;
}

.logo_text__top {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
}

.logo_text__bot {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

/*slogon_wrap*/

.slogon_wrap {
    width: 262px;
    margin-top: 64px;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.header_bot {
    background-image: url("../img/Slice_2.png");
    height: 496px;
    padding-top: 105px;
}

.main_h1__wrap {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 27.7px;
    line-height: 38px;
    color: #FFFFFF;
}

.about_company {
    width: 652px;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 21.2px;
    line-height: 29px;
    color: #FFFFFF;
}

.button_wrap {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #B19B4A;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin-top: 52px;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

/*main*/

main {
    background: #FFFFFF;
    padding-bottom: 62px;
}

.icon_wrap {
    text-align: center;
}

.icon_wrap__title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    margin-top: 40px;
}

.icon_wrap__slogan , .icon_wrap__slogan a {
    display: block;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-top: 29px;
}
.icon_wrap__img {
    margin-top: 15px;
}
.col-lg-2:nth-child(3) .icon_wrap .icon_wrap__img  {
    margin-top: 26px;
}
.col-lg-2:nth-child(3) .icon_wrap .icon_wrap__title     {
    margin-top: 50px;
}
.telephone {
    width: 164px;
}
.product_block {
    margin-top: 67px;
}
.product_block_title {
    text-align: center;
    text-transform: uppercase;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
}
.product_item_wrap {
    display: flex;
    flex-wrap: wrap;
}
.product_item {
    margin-top: 29px;
}
.product_item a {
    background: #FFFFFF;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    height: 174px;
}
.product_item_img {
    width: 261px;
    height: 95px;
}
.product_item_title {
    margin-top: 46px;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.about_us {
    margin-top: 79px;
}
.about_us_title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}
.about_us_text {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.about_us_btn {
    border: none;
    outline: none;product_item col-lg-4
    width: 165px;
    height: 55px;
    background: #B19B4A;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.product_item_img img {
    margin-left: 40px;
}

/*footer*/

footer {}

.footer_top {
    background: #3c3a70;
    padding-about_companybottom: 50px;
    padding-bottom: 50px;
}

.footer_bottom {
    background: #000000;
}

.footer_top__contact_text {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 25.7px;
    line-height: 35px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 27px;
}

.footer_top__reg_text a {
    display: block;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer_top__reg_text a:hover {
    color: #AA1919;
}

.footer_top__namber a {
    display: block;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer_top__namber a:hover {
    color: #AA1919;
}

.footer_top__mail a {
    display: block;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer_top__mail a:hover {
    color: #AA1919;
}

.footer_top__name_of_item_wrap::before {
    content: "";
    border-left: 2px solid #000000;
    position: absolute;
    height: 273px;
    top: 30px;
    left: 5px;
}

.footer_top__name_of_item {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 25.7px;
    line-height: 35px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 27px;
}

.footer_top__name_of_item_slogan a {
    display: block;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer_top__name_of_item_slogan a:hover {
    color: #AA1919;
}

.footer_top__name_of_item_text a {
    display: block;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer_top__name_of_item_text a:hover {
    color: #AA1919;
}

.footer_bottom {}

.footer_bottom_last_wrap a {
    display: block;
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 21.2px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
}




























